
@media(max-width:500px){
    nav{
        flex-direction: column;
        top: 0;
        background-color: aqua;
        height: auto;
        justify-content: flex-start;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }
    nav ul li {
        border-bottom: 1px solid #eee;
        background-color: aqua;
        width: 100%;
    }
    nav ul li a{
        margin: 0;
        padding: 15px;
        border-radius: 0;
    }

    nav>a{
        display: block;
    }
    .img-slider{
        display: none;
    }
    .members{
        display: block;
    }
}
